In [1]:
import pandas as pd

In [3]:
df_train = pd.read_csv('train_age/train.csv')

In [4]:
df_train.head(4)

          ID   Class
0    377.jpg  MIDDLE
1  17814.jpg   YOUNG
2  21283.jpg  MIDDLE
3  16496.jpg   YOUNG

In [5]:
from keras.preprocessing import image

Using TensorFlow backend.

In [6]:
from tqdm import tqdm

In [7]:


import numpy as np
train_image = []
for i in tqdm(range(df_train.shape[0])):
  img = image.load_img('train_age/Train/' + df_train['ID'][i] , target_size = (28,28,1),grayscale = True)
  img = image.img_to_array(img)
  img = img/255
  train_image.append(img)
X = np.array(train_image)

  0%|          | 0/19906 [00:00<?, ?it/s]/home/harish/my_project_dir/my_project_env/lib/python3.7/site-packages/keras_preprocessing/image/utils.py:104: UserWarning: grayscale is deprecated. Please use color_mode = "grayscale"
  warnings.warn('grayscale is deprecated. Please use '
100%|██████████| 19906/19906 [03:34<00:00, 92.68it/s]

In [24]:
res = X.tolist()

In [25]:
df_train['Images_id'] = res

In [26]:
from keras.utils import to_categorical

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [29]:
df_train['Class'] = le.fit_transform(df_train['Class'])

In [32]:
y=df_train['Class'].values
y = to_categorical(y)

In [33]:
df_train.dtypes

ID           object
Class         int64
Images_id    object
dtype: object

In [34]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D
model = Sequential()
model.add(Conv2D(32, kernel_size=(3, 3),activation='relu',input_shape=(28,28,1)))
model.add(Conv2D(64, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.25))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(3, activation='softmax'))

In [35]:
model.compile(loss='categorical_crossentropy',optimizer='Adam',metrics=['accuracy'])

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)
model.fit(X_train, y_train, epochs=30, validation_data=(X_test, y_test))

Train on 15924 samples, validate on 3982 samples
Epoch 1/30
15924/15924 [==============================] - 34s 2ms/step - loss: 0.8557 - accuracy: 0.6036 - val_loss: 0.7916 - val_accuracy: 0.6220
Epoch 2/30
15924/15924 [==============================] - 30s 2ms/step - loss: 0.7791 - accuracy: 0.6517 - val_loss: 0.7342 - val_accuracy: 0.6743
Epoch 3/30
15924/15924 [==============================] - 31s 2ms/step - loss: 0.7391 - accuracy: 0.6705 - val_loss: 0.7317 - val_accuracy: 0.6725
Epoch 4/30
15924/15924 [==============================] - 30s 2ms/step - loss: 0.7004 - accuracy: 0.6913 - val_loss: 0.7004 - val_accuracy: 0.6969
Epoch 5/30
15924/15924 [==============================] - 31s 2ms/step - loss: 0.6652 - accuracy: 0.7131 - val_loss: 0.6850 - val_accuracy: 0.6979
Epoch 6/30
15924/15924 [==============================] - 30s 2ms/step - loss: 0.6315 - accuracy: 0.7302 - val_loss: 0.6807 - val_accuracy: 0.7107
Epoch 7/30
15924/15924 [==============================] - 31s 2ms/step - loss: 0.5966 - accuracy: 0.7447 - val_loss: 0.6807 - val_accuracy: 0.7165
Epoch 8/30
15924/15924 [==============================] - 30s 2ms/step - loss: 0.5631 - accuracy: 0.7599 - val_loss: 0.6683 - val_accuracy: 0.7180
Epoch 9/30
15924/15924 [==============================] - 30s 2ms/step - loss: 0.5260 - accuracy: 0.7795 - val_loss: 0.6801 - val_accuracy: 0.7235
Epoch 10/30
15924/15924 [==============================] - 31s 2ms/step - loss: 0.4956 - accuracy: 0.7928 - val_loss: 0.6742 - val_accuracy: 0.7283
Epoch 11/30
15924/15924 [==============================] - 31s 2ms/step - loss: 0.4579 - accuracy: 0.8098 - val_loss: 0.6758 - val_accuracy: 0.7320
Epoch 12/30
15924/15924 [==============================] - 31s 2ms/step - loss: 0.4273 - accuracy: 0.8252 - val_loss: 0.6649 - val_accuracy: 0.7358
Epoch 13/30
15924/15924 [==============================] - 31s 2ms/step - loss: 0.3984 - accuracy: 0.8414 - val_loss: 0.6788 - val_accuracy: 0.7323
Epoch 14/30
15924/15924 [==============================] - 31s 2ms/step - loss: 0.3726 - accuracy: 0.8471 - val_loss: 0.7217 - val_accuracy: 0.7320
Epoch 15/30
15924/15924 [==============================] - 31s 2ms/step - loss: 0.3523 - accuracy: 0.8562 - val_loss: 0.6946 - val_accuracy: 0.7348
Epoch 16/30
15924/15924 [==============================] - 31s 2ms/step - loss: 0.3249 - accuracy: 0.8676 - val_loss: 0.7367 - val_accuracy: 0.7325
Epoch 17/30
15924/15924 [==============================] - 32s 2ms/step - loss: 0.3197 - accuracy: 0.8714 - val_loss: 0.7266 - val_accuracy: 0.7451
Epoch 18/30
15924/15924 [==============================] - 32s 2ms/step - loss: 0.2876 - accuracy: 0.8855 - val_loss: 0.7743 - val_accuracy: 0.7416
Epoch 19/30
15924/15924 [==============================] - 31s 2ms/step - loss: 0.2836 - accuracy: 0.8855 - val_loss: 0.7322 - val_accuracy: 0.7361
Epoch 20/30
15924/15924 [==============================] - 31s 2ms/step - loss: 0.2627 - accuracy: 0.8978 - val_loss: 0.8084 - val_accuracy: 0.7411
Epoch 21/30
15924/15924 [==============================] - 31s 2ms/step - loss: 0.2513 - accuracy: 0.8996 - val_loss: 0.7922 - val_accuracy: 0.7411
Epoch 22/30
15924/15924 [==============================] - 32s 2ms/step - loss: 0.2438 - accuracy: 0.9023 - val_loss: 0.8647 - val_accuracy: 0.7313
Epoch 23/30
15924/15924 [==============================] - 31s 2ms/step - loss: 0.2280 - accuracy: 0.9099 - val_loss: 0.8446 - val_accuracy: 0.7428
Epoch 24/30
15924/15924 [==============================] - 32s 2ms/step - loss: 0.2255 - accuracy: 0.9095 - val_loss: 0.8560 - val_accuracy: 0.7466
Epoch 25/30
15924/15924 [==============================] - 32s 2ms/step - loss: 0.2088 - accuracy: 0.9195 - val_loss: 0.9067 - val_accuracy: 0.7401
Epoch 26/30
15924/15924 [==============================] - 32s 2ms/step - loss: 0.2082 - accuracy: 0.9172 - val_loss: 0.8961 - val_accuracy: 0.7368
Epoch 27/30
15924/15924 [==============================] - 32s 2ms/step - loss: 0.1989 - accuracy: 0.9188 - val_loss: 0.9776 - val_accuracy: 0.7401
Epoch 28/30
15924/15924 [==============================] - 32s 2ms/step - loss: 0.1978 - accuracy: 0.9240 - val_loss: 0.9216 - val_accuracy: 0.7428
Epoch 29/30
15924/15924 [==============================] - 32s 2ms/step - loss: 0.1997 - accuracy: 0.9202 - val_loss: 0.9466 - val_accuracy: 0.7373
Epoch 30/30
15924/15924 [==============================] - 32s 2ms/step - loss: 0.1865 - accuracy: 0.9292 - val_loss: 0.9615 - val_accuracy: 0.7366

In [39]:
df_test = pd.read_csv('test_age/test.csv')

In [40]:
test_image = []
for i in tqdm(range(df_test.shape[0])):
  img  = image.load_img('test_age/Test/' + df_test['ID'][i] , target_size = (28,28,1),grayscale=True)
  img = image.img_to_array(img)
  img = img/255
  test_image.append(img)

X1 = np.array(test_image)

  0%|          | 0/6636 [00:00<?, ?it/s]/home/harish/my_project_dir/my_project_env/lib/python3.7/site-packages/keras_preprocessing/image/utils.py:104: UserWarning: grayscale is deprecated. Please use color_mode = "grayscale"
  warnings.warn('grayscale is deprecated. Please use '
100%|██████████| 6636/6636 [01:07<00:00, 98.56it/s]

In [41]:
pred = model.predict_classes(X1)

In [42]:
prediction = pred.tolist()

In [49]:
df_test['Prediction'] = prediction

df_test['Prediction'] = df_test['Prediction'].astype(str)

In [52]:
df_train

              ID  Class                                          Images_id
0        377.jpg      0  [[[0.18039216101169586], [0.1568627506494522],...
1      17814.jpg      2  [[[0.1411764770746231], [0.1411764770746231], ...
2      21283.jpg      0  [[[0.15294118225574493], [0.16470588743686676]...
3      16496.jpg      2  [[[0.08235294371843338], [0.08235294371843338]...
4       4487.jpg      0  [[[0.0784313753247261], [0.062745101749897], [...
...          ...    ...                                                ...
19901   2482.jpg      0  [[[0.03921568766236305], [0.003921568859368563...
19902  20085.jpg      2  [[[0.03529411926865578], [0.0470588244497776],...
19903  19663.jpg      0  [[[0.08627451211214066], [0.08627451211214066]...
19904  10132.jpg      0  [[[0.07450980693101883], [0.06666667014360428]...
19905   9896.jpg      0  [[[0.5686274766921997], [0.5882353186607361], ...

[19906 rows x 3 columns]

In [54]:
df_test['Prediction'] = df_test['Prediction'].replace(to_replace ="0", 
                 value ="MIDDLE") 
df_test['Prediction'] = df_test['Prediction'].replace(to_replace ="1", 
                 value ="OLD") 
df_test['Prediction'] = df_test['Prediction'].replace(to_replace ="2", 
                 value ="YOUNG")

In [55]:
df_test

             ID Prediction
0     25321.jpg     MIDDLE
1       989.jpg      YOUNG
2     19277.jpg        OLD
3     13093.jpg      YOUNG
4      5367.jpg     MIDDLE
...         ...        ...
6631   1876.jpg        OLD
6632  14940.jpg     MIDDLE
6633   3638.jpg     MIDDLE
6634    376.jpg     MIDDLE
6635   9357.jpg      YOUNG

[6636 rows x 2 columns]

In [57]:
df_sub['Class'] = df_test['Prediction']

In [58]:
df_sub

       Class         ID
0     MIDDLE  25321.jpg
1      YOUNG    989.jpg
2        OLD  19277.jpg
3      YOUNG  13093.jpg
4     MIDDLE   5367.jpg
...      ...        ...
6631     OLD   1876.jpg
6632  MIDDLE  14940.jpg
6633  MIDDLE   3638.jpg
6634  MIDDLE    376.jpg
6635   YOUNG   9357.jpg

[6636 rows x 2 columns]

In [59]:
df_sub.to_csv('result_age',index = False)